<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:enabled="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
      rel="stylesheet" media="screen"/>

<head>
    <title>Edit your alarm</title>
</head>
<body>

<form th:action="@{/app/alarm}" method="post" th:object="${alarm}">

    <select class="btn btn-default" name="state" placeholder="state"
            th:value="${alarm.state}">
        <option value="enabled">ENABLED</option>
        <option value="disabled">DISABLED</option>
    </select>
    <br><br>
    <div><label> Variance % : <input class="btn btn-default" type="number" name="variance" value=5 placeholder="variance"
        th:value="${alarm.variance}"/> </label></div>
    <br>



    <label>Additional notes</label><br/>
    <textarea value="Add your notes here..." rows="7" cols="50"
              name="notes" field="">
    </textarea>

    <div>
        <input class="btn btn-default" type="submit" value="Save Alarm"/>
    <button type="submit" class="btn btn-default"
            onclick="/app">Cancel</button>
    <input type="hidden" class="form-control" name= "id" id="id" placeholder="id" th:value="${alarm.id}" />
    <input type="hidden" class="form-control" name= "symbol" id="symbol" placeholder="symbol" th:value="${alarm.symbol}" />
    </div>
</form>
</body>
</html>