<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Alarms List</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script
            src="http://cdn.jsdelivr.net/webjars/jquery-tmpl/beta1.0.0/jquery.tmpl.min.js"
            th:src="@{/webjars/jquery-tmpl/beta1.0.0/jquery.tmpl.min.js}"></script>

</head>

<body>

<div class="container">

    <ul class="breadcrumb">
        <li class="active">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </li>

        <h1 th:inline="text">hello [[${#httpServletRequest.remoteUser}]]!</h1>

    </ul>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" name="query" id="query"
                               placeholder="Search by symbol"/>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/app/alarm?action=add"><span
                            class="glyphicon glyphicon-plus" aria-hidden="true">&nbspAdd alarm</span></a></li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="alert alert-danger" role="alert" id="error"
         style="display: none;"></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th>Symbol----------</th>
            <th>Original price--</th>
            <th>Current price---</th>
            <th>Variation [%]---</th>
            <th>Target-----</th>
            <th>Target [%]-</th>
            <th>Active---</th>
            <th>&nbsp;</th>
        </tr>
        <tbody id="alarmsList">
        <tr th:each="alarm : ${alarmsList}">
            <td th:text="${{alarm.symbol}}"></td>
            <td th:text="${{alarm.originalValue}}"></td>
            <td th:text="${{alarm.originalValue}}"></td>
            <td th:text="${{alarm.originalValue-alarm.originalValue}}"></td>
            <td th:text="${{alarm.originalValue * (100 + alarm.variance)/100}}"></td>
            <td th:text="${{alarm.variance}}"></td>
            <td th:text="${{alarm.active}}"></td>
            <td>
                <a href="/app/alarm?action=edit">edit</a>&nbsp
                <a href="/app/alarm?action=delete">delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>